*{
    box-sizing: border-box;
}

@font-face {
    font-family: Myfont;
    src: url(/font/chopin-script/Chopin.ttf);
}

body{
    justify-content: center;
    margin: 0;
    background-image: url("../img/wall-2059909_640.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

main{
    margin: 90px auto;
    width: 85%;
    height: auto;
    text-align: center; 
    display: flex;
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    box-shadow: 
   inset 0 0 7px  black,
   inset 0 0 10px black,
   inset 0 0 20px black,
   inset 0 0 30px 10px black,
    0 0 7px  rgb(244, 125, 46),
    0 0 10px  rgb(244, 162, 46),
    0 0 20px  rgb(244, 204, 46),
    0 0 35px  rgb(244,202,46),
    0 0 41px  rgb(244,202,46),
    0 0 75px  rgb(244,202,46),
    0 0 150px 10px rgb(244,202,46);
    font-family: 'Times New Roman', Times, serif;
}

.picture-section{
    width: 50%;
    height: auto;
    display: flex;
}

.picture{
    width: 50%;
    height: auto;
}

.picture img{
    margin-top: 30px;
    width: 250px;
    height: 300px;
    border-radius: 20px;
    transition: 0.5s;
}

.picture img:hover{
    transition: 0.5s;
}

.picture p{
    margin: 5px auto;
    font-size: 40px;
    vertical-align: top;
    font-family: Myfont;
    font-weight: lighter;
    text-shadow:
    0 0 7px  rgb(244,202,46),
    0 0 10px  rgb(244,202,46),
    0 0 20px  rgb(244,202,46),
    0 0 35px  rgb(244,202,46),
    0 0 41px  rgb(244,202,46),
    0 0 75px  rgb(244,202,46),
    0 0 150px rgb(244,202,46),
    0 0 200px rgb(244,202,46);
    color: white;
}

.skill-section{
    display: inline-block;
    width: 50%;
}

.skill-section h1{
    font-size: 25px;
    border-bottom: 1px solid white;
    padding:28px;
    margin: 0;
    display: inline-block;
}

.skill{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

}

.skill li{
    list-style: none;
    padding: 5px;
    margin: 15% auto;
    width: 50%;
    font-size: 26px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.side-section{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.description-section{
    width: 80%;
    height: auto;
    justify-content: center;
    padding: 20px;
}

.description-section p{
    display: inline-block;
    font-size: 20px;
}

.description-section ul{
    display: flex  ;
    width: 100%;
    height: 50%;
    list-style: none;
    margin: 30px 0;
    padding:0;
}

.description-section li{
    list-style: none;
    padding: 0;
    width: 30%;
    height: auto;
    margin: 10px;
    overflow:hidden;
    border-radius: 15px;
    transition: ease-out 0.3s;
}

.description-section img{
    width: 320px;
    height: 180px;
    border-radius: 15px;
    filter: grayscale(1);
}

#Un{
    box-shadow:
    0 0 50px 10px rgb(66,32,92),
    0 0 50px 10px rgb(66,32,92);
    
}
#Un:hover{
    box-shadow: none;
    transition: ease-in 0.3s;
}

#uni:hover{
    filter: grayscale(0);
    transition: ease-in 0.3s;
}

#Nws{
    box-shadow:
    0 0 50px 5px #70abe4,
    0 0 50px 5px white;
    
}
#Nws:hover{
    box-shadow: none;
    transition: ease-in 0.3s;
}

#nw:hover{
    filter: grayscale(0);
    transition: ease-in 0.3s;
}

#Nop{
    box-shadow:
    0 0 50px 5px rgb(194,4,76),
    0 0 50px 5px white;
    
}
#Nop:hover{
    box-shadow: none;
    transition: ease-in 0.3s;
}

#np:hover{
    filter: grayscale(0);
    transition: ease-in 0.3s;
}


footer{
    margin: auto;
    padding:0;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 6%
}

nav{
    height: 90px;
    width: 80%;
    display: inline-block;
    text-align: center;
}

nav ul{
    width: 100%;
    height: 90px;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li{ 
    display: inline-block;
    margin: auto 3.75%;
    height: 60px;
    width: 10%;
    list-style: none;
    padding: 15px 0;
    text-align: center;
    box-shadow:
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.8),
    0 0 15px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.8),
    0 0 25px rgba(255, 255, 255, 0.8);
    border-radius: 40px;
    transition: ease-out 6s;
    filter: blur(2px);
}

#fb:hover{
    box-shadow: 
    0 0 50px rgb(255, 216, 77),
    0 0 10px rgba(255, 216, 77),
    0 0 15px rgba(255, 216, 77),
    0 0 20px rgba(255, 216, 77),
    0 0 25px 30px rgba(255, 216, 77);;
    border-radius: 15px;
    filter: blur(0);
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s ;
}
#ig:hover{
    box-shadow: 
    0 0 50px rgb(10,193,63),
    0 0 5px rgba(10,193,63),
    0 0 10px rgba(10,193,63),
    0 0 15px rgba(10,193,63),
    0 0 25px 30px rgba(10,193,63);
    border-radius: 15px;
    filter: blur(0);
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s ;
    
}#in:hover{
    box-shadow: 
    0 0 50px rgb(239,35,60),
    0 0 5px rgba(239,35,60),
    0 0 10px rgba(239,35,60),
    0 0 15px rgba(239,35,60),
    0 0 25px 30px rgba(239,35,60);
    border-radius: 15px;
    filter: blur(0);
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}#tw:hover{
    box-shadow: 
    0 0 50px rgb(10,102,194),
    0 0 5px rgba(10,102,194),
    0 0 10px rgba(10,102,194),
    0 0 15px rgba(10,102,194),
    0 0 25px 30px rgb(10,102,194);
    border-radius: 15px;
    filter: blur(0);
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s ;
}#gh:hover{
    box-shadow: 
    0 0 50px #00ffff,    
    0 0 5px  #00ffff,
    0 0 10px #00ffff,
    0 0 15px #00ffff,
    0 0 25px 30px #00ffff;
    border-radius: 15px;
    filter: blur(0);
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s ;
}

nav li img{
    width: 30px;
    height: 30px;
    filter: invert(1);
}

